<div class="body">
    <div class="login-container">
        <h4>Diamond Flix</h4>
        
        <form id="login-form">
            <label for="username">Username</label>
            <input type="text" id="username" value="kminchelle" required>
            
            <label for="password">Senha</label>
            <input type="password" id="password" value="0lelplR" required>
            
            <button type="submit" class="btn mb-2 mb-md-0 btn-primary" id="button"><a class="nav-link" routerLink="/">Logar</a></button>
            <a href="" style="color: black;"><p class="login-message" id="login-message">Voltar pro inicio</p></a>
            <p class="subtitle">© Diamond Solutions - 2023 <br/> Gabriel Pedrosa</p>
        </form>
        
    
    </div>
</div>